.root {
  width: 100%;
  height: 100%;
  position: relative;
  /* 允许 Canvas 溢出其父容器，因为它的尺寸是固定的全屏 */
  overflow: visible; 
}

.root canvas {
  position: fixed; /* 锁死在屏幕上 */
  top: 0;
  left: 0;
  pointer-events: none; /* 让鼠标事件穿透到下层 UI */
}